################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project6_WebProject/FileContentIndex
/.vs/Project6_WebProject/v17/Browse.VC.db
/.vs/Project6_WebProject/v17/Browse.VC.opendb
